<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.dubbo.provider.mapper.SysWebLogMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.boot.dubbo.entity.SysWebLog">
		<id column="id" property="id" />
		<result column="web_log_id" property="webLogId" />
		<result column="login_account" property="loginAccount" />
		<result column="method" property="method" />
		<result column="method_desc" property="methodDesc" />
		<result column="method_args" property="methodArgs" />
		<result column="operate_time" property="operateTime" />
		<result column="operate_ip" property="operateIp" />
		<result column="status" property="status" />
		<result column="is_delete" property="isDelete" />
		<result column="create_time" property="createTime" />
		<result column="create_by" property="createBy" />
		<result column="update_time" property="updateTime" />
		<result column="update_by" property="updateBy" />
		<result column="remark" property="remark" />
	</resultMap>

</mapper>
